@model WebsiteHuongNghiep.Data.Entities.Blog


@section Scripts{
    <script>
        var main = document.getElementById("main-content");
        main.style.backgroundImage = "none";
        main.style.backgroundColor = "aqua";
        main.style.minHeight = "unset";
    </script>

}
<div class="container-fluid upper">

</div>
<div class="container" style="padding: 20px;">
    <div style="text-align: center;">
        <h1 style="font-weight:bold;">@Model.Name</h1>
    </div>
    <div class="ml-md-0">
        <span><i class="fa fa-eye"></i> @Model.ViewCount.ToString()</span>
    </div>
    <div class="content">
        @Html.Raw(Model.Content)
    </div>
</div>