@model IEnumerable<WebsiteHuongNghiep.Data.Entities.Blog>

@{ 
    ViewData["Title"] = "Blog";
    
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 blog-item">
                <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.MetaTitle"><img src="" alt="img"/></a>
                <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.MetaTitle"><p>@item.Title</p></a>
                <p>Bài viết</p>
            </div>
        }
    </div>
</div>