
<div class="container">
    <div class="introduce">
        <h2>Nguyên lý Trắc nghiệm hướng nghiệp - John Holland</h2>

        <p>Xin giới thiệu cấu trúc lý thuyết của bộ công cụ trắc nghiệm định hướng nghề nghiệp của John Holland. 
        Bộ công cụ này được xây dựng trên cơ sở lý thuyết do chính ông dày công tìm hiểu.</p>
        <p>
            Bước 1: Các ý liệt kê trong mỗi bảng hướng đến các tố chất và năng lực cá nhân. Với mỗi ý sẽ có nhiều mức độ phù hợp, tương ứng với mỗi mức độ phù hợp, sẽ được quy định một điểm số tương ứng. 
            Điểm số tương ứng này do người làm trắc nghiệm đánh giá và tự cho điểm theo quy ước sau.
        </p>
        <ol>
            <li>Bạn thấy ý đó chưa bao giờ đúng với bạn - tương ứng 0 điểm</li>
            <li>Chỉ thấy ý đó chỉ đúng trong một vài trường hợp - tương ứng 1 điểm</li>
            <li>Bạn thấy ý đó chỉ một nửa là đúng với bạn - tương ứng 2 điểm</li>
            <li>Bạn thấy ý đó gần như là đúng với bạn trong hầu hết mọi trường hợp, chỉ có một vài trường hợp là chưa đúng lắm - tương ứng 3 điểm</li>
            <li>Bạn thấy ý đó là hoàn toàn đúng với bạn, không thể nào khác đi được - tương ứng 4 điểm</li>
        </ol>
        <a asp-action="Make" asp-route-id="1" class="btn btn-bg-info">Bước 2 (Làm trắc nghiệm)</a>
    </div>
</div>>