@model WebsiteHuongNghiep.Data.Entities.HollandResult

<div class="container">
    <div class="row">
        <img src="~/assets/img/Congratulation-Text-Transparent-File.png" width="300" height="200" style="margin-bottom: 7%"/>
        <h2 style="text-align: center; margin-bottom: 50px;">Đây là kết quả kiểu người của bạn</h2>
        <h3>@Model.Result</h3>
        
    </div>
</div>