@model WebsiteHuongNghiep.Data.Entities.HollandResult

<div class="container">
    <div class="row">
        @*<img src="~/assets/img/congrat.png" />*@
        <h2>@Model.Result</h2>
    </div>
</div>