@model WebsiteHuongNghiep.Data.Entities.MITable
@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script>
        var main = document.getElementById("main-content");
       // main.style.backgroundImage = "none";
        //main.style.backgroundColor = "#9effed";
        //main.style.minHeight = "unset";
    </script>

}

<div class="container">
    <div class="row mbti-question">
        <h2 style="padding-left: 100px; margin-bottom: 40px;">Kết quả trắc nghiệm của bạn</h2>
        <div class="col-md-8">
            Bạn thuộc nhóm người có tính cách: @Model.Name
        </div>
    </div>
</div>

